PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_TYPE=mysql
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=real-world
DB_SYNCHRONIZE=false
JWT_SECRET_KEY=DO NOT USE THIS VALUE. INSTEAD, CREATE A COMPLEX SECRET AND KEEP IT SAFE OUTSIDE OF THE SOURCE CODE.